:root {
    --green-color: #61d25c;
    --main-bg: #1b1b1b;
}

.home_page {
    width: 500px;
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
}

h1 {
    font-family: 'Nunito', sans-serif;
    display: inline;

}

.list_length {
    font-size: 20pt;
    display: inline;
}



